configuration {
	font: "System San Francisco Display 13";
	combi-modi: "window,drun,ssh";
combi {
    display-name: "ArchLinux:";
  }
timeout {
      delay:  3;
      action: "kb-cancel";
  }
}

@theme "custom-nord.rasi"
listview {
	lines: 5;
	columns: 1;
}

window {
	width: 50%;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}
